/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
node_modules
bower_components
resources/public/js/*.js
resources/public/js/.module-cache
resources/public/css/bootstrap.css
resources/public/fonts
releases
doc
