/*
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}

text {
  font: 10px sans-serif;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}
*/

.container {
  margin: 0;
  padding: 0;
}

.top-buffer {
  margin-top: 40px;
}

.bottom-buffer {
  margin-bottom: 20px;
}

div.progress {
  margin-bottom: 0px;
  box-shadow: none;
  border-radius: 0;
}

div.progress-bar {
  box-shadow: none;
}

.extra-info {
  cursor: pointer;
}

.label {
  margin-right: 5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.barchart>tbody>tr>td {
  padding: 0px !important;
}

.mono-space {
  font-family: monospace;
  margin-right: 10px;
}

.drop-target {
  border: 2px solid red;
}

div.popover{
  /* Max Width of the popover (depending on the container!) */
  max-width: 100%;
}

.form-horizontal {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 5px;
}

tr.condensed * {
  height: 8px;
  font-size: 8px;
}

.label-table {
  display: inline-block !important;
  margin-bottom: 5px !important;
  cursor: pointer;
}
