.bottom-buffer {
  margin-bottom: 20px;
}

div.progress {
  margin-bottom: 0px;
  box-shadow: none;
  border-radius: 0;
}

div.progress-bar {
  box-shadow: none;
}

.extra-info, .extra-info-bottom, .extra-info-right {
  cursor: pointer;
}

.label {
  margin-right: 5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.barchart>tbody>tr>td {
  padding: 0px;
}

.mono-space {
  font-family: monospace;
  margin-right: 10px;
}

.drop-target {
  border: 2px solid red;
}

div.popover {
  /* Max Width of the popover (depending on the container!) */
  max-width: 100%;
}

div.popover table > tbody * {
  margin-top:     5px;
  margin-bottom:  5px;
  padding-top:    2px;
  padding-bottom: 2px;
}

div.popover h3, div.popover table {
  margin-top:     5px;
  margin-bottom:  5px;
}

.form-group {
  margin-bottom: 5px;
}

tr.condensed * {
  height: 8px;
  font-size: 8px;
}

.label-table {
  display: inline-block;
  margin-bottom: 5px;
  cursor: pointer;
}

button.btn-xs {
  font-size: 10px;
}

td.nowrap {
  white-space: nowrap;
}

.metric-value {
  font-size: 75%;
  color: grey;
  font-weight: bold;
}

div.row.table-regions {
  margin-top: 20px;
}

div.row.table-regions table {
  margin-bottom: 0px;
}

.progress div.metric-value {
  margin-left: 3px;
}

tr.condensed .metric-value {
  display: none !important;
}

.popover.fade {
  -webkit-transition: none;
  -o-transition:      none;
  transition:         none;
}

.nav > .disabled > a.refresh_msg:hover {
  cursor: pointer;
}

body {
  padding-bottom: 40px;
}
